*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	--color-bg: #000;
	--color-text: #fff;
	font-family: "Roboto Mono", monospace;
	background: #000;
	background: var(--color-bg);
	font-size: 15px;
	color: #fff;
	overflow: hidden;
	color: var(--color-text);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Color schemes */
.demo-1 {
	--color-text: #f09467;
    --color-bg: #000;
    --color-link: #f3dd22;
    --color-link-hover: #f09467;
    --color-grid-text-1: #f3dd20;
    --color-grid-text-2: #22f7c5;
	--color-grid-text-3: #FFFFFF;
	--color-main: #555;
    --font-grid: inherit;
}


/* Fade effect */
.js body {
	opacity: 0;
	transition: opacity 0.3s;
}

.js body.render {
	opacity: 1;
}

a {
	text-decoration: none;
	color: #5d93d8;
	color: var(--color-link);
	outline: none;
}

a:hover {
	color: #423c2b;
	color: var(--color-link-hover);
	outline: none;
}

a:focus {
	outline: none;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 80px;
	height: 80px;
	margin: -40px 0 0 -40px;
	pointer-events: none;
	background: var(--color-link);
	transform-origin: 0% 50%;
	animation: loaderAnim 1.5s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	0% {
		transform: scale3d(0,1,1);
		transform-origin: 0% 50%;
	}
	50% {
		transform: scale3d(1,1,1);
		transform-origin: 0% 50%;
	}
	51% {
		transform: scale3d(1,1,1);
		transform-origin: 100% 50%;
	}
	100% {
		transform: scale3d(0,1,1);
		transform-origin: 100% 50%;
	}
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}
.slides {
	height: 100vh;
	position: relative;
	font-family: var(--font-grid);
}

.slides, .grid {
	display: grid;
	grid-template-columns: repeat(20, 5%);
	grid-template-rows: repeat(7, 1fr);
	justify-content: center;
	align-content: center;
	padding: 6em 5vw 4em;
}

.slides__nav {
	align-self: center;
	padding: 0 0.5em;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	z-index: 1000;
}

.slides__nav-item {
	display: block;
	font-size: 3.5vh;
	border-bottom: 2px solid;
	margin: 0 0 0.5em;
}

.slides__nav-item--current {
	border: 0;
	color: var(--color-link-hover);
}

.date {
	font-size: 6vh;
	color: var(--color-grid-text-3);
	align-self: end;
	display: flex;
	flex-wrap: wrap;
	white-space: pre;
	align-items: flex-start;
}

.date span {
	position: relative;
	display: block;
	flex: none;
}

.slide {
	//opacity: 1;
	pointer-events: none;
}

.slide--current {
	//opacity: 1;
	pointer-events: auto;
}

.grid {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid__item {
	font-size: 8vmax;
	color: var(--color-grid-text-1);
	text-transform: uppercase;
	line-height: 1;
	display: flex;
	flex-wrap: wrap;
	white-space: pre;
	align-items: flex-start;
}

.grid__item--deco-1 {
	font-size: 4vh;
	padding: 0 0.2em;
	color: var(--color-grid-text-2);
}
.grid__item--deco-2 {
	padding: 0 0.4em;
	position: absolute;
}

.grid__item span {
	position: relative;
	display: block;
	flex: none;
	opacity: 0;
}

/* Individual grid layouts */

/* Demo 1 */
.demo-1 .slides__nav {
	grid-area: 5 / 2 / auto / 20;
}

.demo-1 .date {
	grid-area: 7 / 5 / auto / 20;
}

.demo-1 .grid__item:first-child {
	grid-area: 1 / 2 / auto / 20;
}

.demo-1 .grid__item:nth-child(2) {
	grid-area: 2 / 2 / auto / 20;
}

.demo-1 .grid__item:nth-child(3) {
	grid-area: 4 / 13 / auto / 20;
}

.demo-1 .grid__item:nth-child(4) {
	grid-area: 5 / 14 / auto / 20;
}

@media screen and (max-width: 55em) {
	html,
	body {
		overflow: auto;
		width: 100vw;
		height: 100%;
	}
	.slides, .grid {
		display: block;
	}
	.slides {
		padding-top: 15em;
	}
	.grid__item {
		font-size: 2em;
	}
	.grid__item--deco-1 {
		font-size: 1em;
	}
	.date {
		font-size: 1em;
	}

}
